<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Login</title>

    <script src="public/stylesheets/js/angular.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="public/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <script src="public/stylesheets/js/jquery.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="public/stylesheets/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="public/stylesheets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container" ng-controller="signCtrl">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                <form id="loginform" class="form-horizontal" role="form">
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        <input id="id" ng-model="loginForm.sid" type="text" class="form-control" name="sid" value="" placeholder="SID">
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" ng-model="loginForm.password" type="password" class="form-control" name="password" placeholder="password">
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <input type="button" name="login" value="Login" id="btn-login" class="btn btn-success" ng-click="login()">
                            <a id="btn-signup" href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()" class="btn btn-primary">Sign Up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
            </div>
            <div class="panel-body">
                <form id="signupform" class="form-horizontal" role="form">
                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">*SID</label>

                        <div class="col-md-9">
                            <input ng-model="signupForm.sid" type="text" class="form-control" name="sid" placeholder="SID">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">Username</label>

                        <div class="col-md-9">
                            <input ng-model="signupForm.username" type="text" class="form-control" name="username" placeholder="First Name">
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">*Password</label>

                        <div class="col-md-9">
                            <input ng-model="signupForm.password" type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="password" class="col-md-3 control-label">*Password</label>

                    <div class="col-md-9">
                        <input ng-model="signupForm.repassword" type="password" class="form-control" name="repassword" placeholder="Password">
                    </div>
                </div>
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <input type="button" name="signup" value="Sign Up" id="btn-signup" class="btn btn-info" ng-click="signup()">
                            <button type="button" class="btn btn-danger" onclick="$('#signupbox').hide(); $('#loginbox').show()">
                                <i class="icon-hand-right"></i>Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('signCtrl', function ($scope, $http) {

       var url='http://localhost:8080';

       //var url='http://54.186.74.110:8080';

     
        $scope.login = function () {
           // alert('begin');
        	
            $http({
                method: 'GET',
                url: url+'/login?id='+$scope.loginForm.sid+'&password='+$scope.loginForm.password
                //params: {"id":$scope.loginForm.id,"password": $scope.loginForm.password}

            }).success(function (res,status) {

                //alert(status);

                if(status=='200'){

                    if(res.role=='1'){

                        window.location.href = "StudentDashboard.html?sid=" +  res.id ;
                
                        //window.location.assign('StudentDashboard.html');
                    }else{
                          window.location.href = "AdminDashboard.html?sid=" +  res.id ;
                        //window.location.assign('AdminDashboard.html');
                    }
                }           
            }).error(function(res,status){

                //alert(status);
                if(status=='404'){

                    alert('Invalid id or password!');

                }

            });
        };
        $scope.signup = function () {
            console.log('submit');
            if($scope.signupForm.password!==$scope.signupForm.repassword){
            	alert("Confirm Password!")
            }else{
	            $http({
	                method: 'POST',
	                url: url+'/register',
	                data: {"id": $scope.signupForm.sid,
                            "studentName": $scope.signupForm.username,
                            "password": $scope.signupForm.password
                        }
	
	            }).success(function (res,status) {

                //alert(status);

                    if(status=='200'){
                        window.location.assign('login.html');

                    }           
                }).error(function(res,status){

                //alert(status);
                    if(status=='409'){

                        alert('SID already exists');

                    }

                });
            }
        };

    });
</script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="public/stylesheets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>